# conf reading
PyYAML==5.4.1

# cli
click==8.0.1

# gitlab interactions
python-gitlab==2.10.1

# pushing results to api
requests==2.26.0

# testing utils
unshare==0.22  # to isolate tests from network
# language requirements
# python
pytest-socket==0.4.1
