name: Publish


on:
  release:
    types:
      - released


concurrency:
  group: ${{ github.workflow }}-${{ github.event.release.id }}
  cancel-in-progress: false


jobs:
  update-version-changelog:
    uses: manytask/.github/.github/workflows/reusable-update-changelog-version.yml@main
    permissions:
      contents: write
    with:
      release_tag: ${{ github.event.release.tag_name }}
      release_target: ${{ github.event.release.target_commitish }}
      release_body: ${{ github.event.release.body }}
      release_url: ${{ github.event.release.html_url }}
    secrets:
      token: ${{ secrets.MANYTASK_SERVICE_PUSH_TOKEN }}

  release-python-package:
    needs: update-version-changelog
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/manytask-checker
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: 3.11
        cache: 'pip' # caching pip dependencies
    - name: Install requirements for package build
      run: |
        python -m pip install -U wheel twine
    - name: Build python package
      run: |
        echo -n "${{github.ref_name}}" > VERSION
        python -m pip wheel . --no-deps --wheel-dir dist
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

#  release-github-pages:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#      - name: Setup Python 3.9
#        uses: actions/setup-python@v3
#        with:
#          python-version: 3.9
#      - uses: actions/cache@v3
#        with:
#          path: ${{ env.pythonLocation }}
#          key: ${{ runner.os }}-python-3.9-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml', 'setup.cfg') }}-docs
#          restore-keys: |
#            ${{ runner.os }}-python-3.9-
#            ${{ runner.os }}-python-
#            ${{ runner.os }}-
#      - name: Install dependencies
#        run: python -m pip install -e .[docs]
#      - name: Build and publish docs
#        run: |
#          git fetch --all
#          # lazydocs
#          python -m mkdocs build --config-file docs/mkdocs.yml
#          python -m mkdocs gh-deploy --config-file docs/mkdocs.yml --force
